header {
height: 100px;
}
.bg-dark-header {
    background-color: #3A546D;
    color: white;
}
footer {
    border-color: #3A546D;

    }
.fluid-container {
    background-color: aquamarine;
}

.col {
   
    border: 2px dashed black ;
   
}
.square {
    height: 200px;
    width: 200px;
    border: 2px dashed white
}
.lgsquare {
    height: 200px;
    border: 2px dashed;
}


