header {
height: 100px;
background-color: #2C3E50;

}
footer {
    border-color: #3A546D;

    }
.fluid-container {
    background-color: aquamarine;
}
.row {
    margin-right: 0px;
}
.col {
   
    border: 2px dashed black ;
   
}
.square {
    height: 200px;
    width: 200px;
    border: 2px dashed white
}
.lgsquare {
    height: 200px;
    border: 2px dashed;
}


