header {
height: 100px;
background-color: #2C3E50;
}
.fluid-container {
    background-color: #1ABC9C;
    height: 300px;
   
   
}
.container {
    background-color: #ffffff;
  
}
.col {
   
    border: 2px dashed black ;
   
}
.square {
    height: 200px;
    width: 200px;
    border: 2px dashed whitrede;
}
.lgsquare {
    height: 200px;
    border: 2px dashed;
}
section {
    margin-bottom: 10px;
}

